.reviews__block {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.reviews__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.review {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.review__header {
	display: flex;
	justify-content: space-between;
	gap: 12px;
}

.review__title {
	font-weight: 700;
}

.review__description {
	line-height: 1.5em;
}